<!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h2>Organization</h2>
    </div>

    <ul class="list-unstyled components">
      <p><%= current_user && current_user.email || '' %></p>
      <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">User Management</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><a href="<%= route_for(:userIndex) %> ">User</a></li>
          <li><a href="<%= route_for(:roleIndex) %> ">Role</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Organization</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to the article</a></li>
    </ul>
  </nav>
